// color settings
$bodyBgColor: #ffffff;
$arrowsBgColor: rgba(0, 0, 0, 0.5);

$mainColor: #E1A122;
$catalogColorBg: #90703F;
$priceColor: #A5A5A5;

//media settings
$mediaLg: 1200px;
$mediaMd: 768px;
$mediaSm: 430px;

